<%- include('../header') %>

  <section class="content">
    <div class="container-fluid">
      <!-- Main row -->
      <div class="row row-cols-2 d-flex justify-content-center" >
        <form action="" method="post">
          
          <div class="row">
            <div class="col">
              <label for="" class="form-label">Tên cuộc bình chọn</label>
              <input class="form-control" type="text" name="name" value="<%= poll.name %>">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="" class="form-label">Ngày bắt đầu</label>
              <input class="form-control" type="datetime-local" name="start" value="<%= poll.start.toISOString().slice(0, -5) %>">
            </div>
            <div class="col">
               <label for="" class="form-label">Ngày kết thúc</label>
              <input class="form-control" type="datetime-local" name="end" value="<%= poll.end.toISOString().slice(0, -5) %>">
            </div>
          </div>
          
          <div class="form-group">
            <label for="">Trạng thái</label>
            
            <div class="radio">
                <label>
                  <input type="radio" name="status"  value="1" <%= poll.status == 1 ? 'checked'  : '' %> >
                    Hiển thị
                </label>
            </div>
            
            <div class="radio">
                <label>
                  <input type="radio" name="status"  value="0" <%= poll.status == 0 ? 'checked'  : '' %> >
                  Tạm ẩn
                </label>
            </div>
        </div>
         
          <button type="submit" class="btn btn-primary" style="margin-top:15px ;">Sửa</button>
        </form>

      </div>
      <div class="row">

      </div>
      <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
  </section>
  <%- include('../footer') %>